body {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: cadetblue;
    background-color: aliceblue;
/* background-color: #101948; */
}